
.nav-bar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .wh(80%, 100px);
  margin: 0 auto;

  img {
    .wh(50px, 50px);
    border-radius: 50%;
    box-shadow: 0 0 2px 0 @colorBlack;
  }
}