.topic-item-container {
  padding: 20px 15px;
  border-bottom: 1px solid #F5F7FF;

  .content-desc {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    padding-top: 5px;

    .title {
      font-size: 16px;
      overflow-wrap: break-word;
    }

    .time {
      margin-left: 10px;
      font-size: 14px;
      color: #797979;
    }
  }

  // TODO 动画没有生效
  .content {
    //max-height: 100px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    color: #797979;
    cursor: pointer;
    overflow-wrap: break-word;
    font-size: 14px;

    ::v-deep(.v-md-editor-preview) {
      padding: 0;
      font-size: 14px;
      line-height: 25px;
    }

    :hover {
      color: #414141;
      cursor: pointer;
    }
  }

  // 内容展出后样式
  .topic-content-spread {
    cursor: pointer;
    overflow-wrap: break-word;

    ::v-deep(.v-md-editor-preview) {
      padding: 0;
      font-size: 14px;
      line-height: 25px;
    }

  }
}

.topic-item-container-spread {
  padding: 20px 15px;
  border-radius: 16px;
  box-shadow: 0 4px 18px -4px rgba(0,0,0,.1);
}