.topic-item-container {
  margin-bottom: 25px;
  padding: 12px 15px;
  border-bottom: 1px solid #F5F7FF;

  .content-desc {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    padding-top: 5px;
  }

  p {
    line-height: 25px;
  }

  .content {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    color: #797979;
    cursor: pointer;
    :hover {
      color: #414141;
    }
  }

  // 内容展出后样式
  .topic-content-spread {
    overflow: auto;
    cursor: pointer;
  }
}

.topic-item-container-spread {
  padding: 12px 15px;
  border-radius: 16px;
  box-shadow: 0 4px 18px -4px rgba(0,0,0,.1);
//  TODO 展开动画
}